.sub 
    .container  
        .sub__body.row.align-item-center
            .col-md-6 
                .sub__body-text
                    h3 Subscribe Our Newsletter
            .col-md-6 
                .sub__body-input
                    .p-relative
                        input(type="email",placeholder="Enter Email Address",class="form-control")
                    button Subscribe