.about 
    .container 
        .about__content.d-flex.justify-content-between.align-item-center 
            h1.about__content-left About Us
            .about__content-right
                ul.right__site.d-flex
                    li.right__site-item Home
                    li.right__site-item
                        span.fa.fa-chevron-right
                        span.item__text Pages
                    li.right__site-item 
                        span.fa.fa-chevron-right
                        span.item__text About
