.wwa 
    .container 
        .wwa__content
            .wwa__content-left
                img(src="../assets/images/about_img.jpg", alt="")
            .wwa__content-right
                .right__title Who We Are
                p.right__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum totam ipsa, possimus veniam officia fugiat natus temporibus explicabo animi incidunt iusto impedit dolore, asperiores illo praesentium. Ducimus animi quidem corrupti?
                p.right__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum totam ipsa, possimus veniam officia fugiat natus temporibus explicabo animi incidunt iusto impedit dolore, asperiores illo praesentium. Ducimus animi quidem corrupti?