.wcu 
    .container 
        .wcu__content
            .wcu__content-title Why choose us?
            .wcu__content-lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            .wcu__content-box
                .row 
                    .col-lg-4.col-sm-6
                        .box__item
                            .box__item-icon.fa.fa-pencil-square-o
                            .box__item-text Creative Design
                            .box__item-content  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
                    .col-lg-4.col-sm-6
                        .box__item
                            .box__item-icon.fa.fa-window-restore
                            .box__item-text Flexible Layouts
                            .box__item-content  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
                    .col-lg-4.col-sm-6
                        .box__item
                            .box__item-icon.fa.fa-envelope-o
                            .box__item-text Email Marketing
                            .box__item-content  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
