.portfolio 
  .container 
    .row 
      .col-4 
        .portfolio__item
           img(src="assets/images/cabin.png", alt="").portfolio__item-images 
           .portfolio__item-overlay.dflex.align-item-center.justify-content-center 
              span.overlay__text.c-white +
        