.about{
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fb;
    &__content{
        &-left{
            font-family: 'Roboto', sans-serif;
            font-size: 28px;
            font-weight: 700;
        }
        &-right{
            .right__site{
                color: #292b2c;
                font-size: 14px;
            }
        }
    }
}