mixin sectionHead(data)
    .sectionHead
        h3.title=data.title
        p.description=data.description 
+sectionHead({title:"News",description:"Hello"});
+sectionHead({title:"Projects",description:"Hello"});


